* {
  border: none;
  margin: 0px;
  padding: 0px;
}

.top-section {
  background-image: url(top-section-background.jpg);
  background-position: center;
  background-size: cover;
  height: 90vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.logo {
  position: relative;
  top: 100px;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
  bottom: 100px;
}

button {
  padding: 8px 26px;
  font-size: 1rem;
  font-weight: 700;
}

.watch-trailer {
  background-color: black;
  color: white;
}
.buy-now {
  background-color: yellow;
  color: black;
}
