/* Set all the defaults to zero */
* {
  border: none;
  padding: 0px;
  margin: 0px;
}

/* Top Section */
.top-section {
  background-image: url(top-section-background.jpg);
  background-size: cover;
  background-position: center;
  background-color: grey;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.top-section .logo {
  position: relative;
  top: 100px;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  position: relative;
  bottom: 40px;
}

.buttons-container button {
  padding: 10px 26px;
  font-size: 1.1rem;
  font-weight: 700;
  width: 200px;
}

.watch-trailer {
  background-color: black;
  color: white;
}
.buy-now {
  background-color: yellow;
  color: black;
}
